<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Talents</title>
    <link rel="stylesheet" href="/assets/css/ClientBrowse.css">
</head>
<body>
    <div class="container">
        <h1>Browse Talents</h1>
        <label for="dropdown">Search by  </label>
            <select id="dropdown">
        <option value="option1">skill</option>
        <option value="option2">name</option>
        <option value="option3">language</option>
</select>
<a href="/client/register" class="top-right-button">Register</a>

    </div>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>