<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Module</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <header>
        <img src="assets/images/jpd-hub-logo.jpg" alt="JPD Hub Logo" class="logo">
        
    </header>
    <main>
        <h1>Welcome to the Talent Module</h1>
        <p>JPD Hub is a web development agency specializing in WordPress, aiming to positively impact clients by leveraging their skills and experience in designing and developing websites. They focus on long-term working relationships and offer expertise in WordPress custom themes, as well as proficiency in PHP, MySQL, HTML5, CSS3, Bootstrap, JavaScript, jQuery, Angular JS, Ajax, XML, JSON, and API integration.</p>
        <p>They have satisfied clients who appreciate their professionalism, expertise, and creativity, excelling at delivering projects within clients’ timelines and transforming visions into stunning websites. With their use of cutting-edge technologies, they create fast, optimized, and visually captivating sites. Clients highly value their project management skills, innovative suggestions, and timely responses.</p>
        <p>JPD Hub has been providing web development services for over eight years, offering not only website design but also making changes to existing websites and providing a whole new look to meet their clients’ needs. They have received positive feedback for their prompt and professional customer service, knowledgeable team members, and their commitment to delivering quality work. Clients have expressed satisfaction with their collaboration with JPD Hub and have recommended them as reliable and trustworthy website designers.</p>
        <p>In addition to their web development services, JPD Hub actively engages with the community. For instance, they collaborated with Advitiya, the technical fest of IIT Ropar, to host the Advitiya x JPD Hub Hackathon in 2024, encouraging innovation and technical prowess among participants.</p>
        <nav>
            <ul>
                <a href="/talent/register" class="button">Register Talent</a>
                <!--<li><a href="components/AdminApproval.html">Admin Approval</a></li>-->
                <a href="talent/browse" class="button">Browse Talents</a>
            </ul>
        </nav>
        <div id="contact-us">
            <h2>Contact Us</h2>
            <p>Email:  jpdhub@gmail.com</p>
            <p>Secondary Email :  info@jpdhub.com</p>
            <p>Phone(India(🇮🇳)): +91 7508975227  </p>
        </div>
    </main>
    <script src="/assets/js/index.js"></script>
</body>
</html>
