<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Module</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <header>
        <img src="assets/images/jpd-hub-logo.jpg" alt="JPD Hub Logo" class="logo">
        
    </header>
    <main>
        <h1>Welcome to the <span class="green">Talent Module</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <p>
        Mattis porttitor lectus est nostra luctus dui. Hac dictum bibendum feugiat per pretium orci accumsan. Suscipit parturient congue egestas, risus eros commodo fames. Quis condimentum eget ipsum venenatis, dui eu elementum. Amet ornare sagittis urna orci egestas senectus efficitur. Malesuada et imperdiet consectetur facilisis, ex curabitur neque malesuada. Habitasse libero mauris habitasse efficitur dui. Condimentum purus eget euismod morbi hac at suspendisse? Cubilia vivamus inceptos lacinia netus tincidunt hac interdum porta.
        </p>
        <p>Nascetur magna ac nunc efficitur nunc maecenas dictum eget? Dictumst blandit platea sem adipiscing quis! Dolor montes justo dapibus porttitor id facilisi in feugiat pharetra. Netus volutpat commodo at porttitor dignissim sed netus hac. Risus class ex netus tincidunt quisque urna. Ligula ad nascetur, lobortis ante praesent in hac. Massa porttitor phasellus pharetra venenatis egestas. Class maximus gravida nullam fames vitae. Natoque faucibus ante pulvinar mollis nostra proin congue tempus. Vehicula tincidunt rutrum volutpat nunc tristique consectetur tortor elit.</p>
        <nav>
            <ul>
                <a href="/talent/register" class="button">Register Talent</a>
                <!--<li><a href="components/AdminApproval.html">Admin Approval</a></li>-->
                <a href="talent/browse" class="button">Browse Talents</a>
            </ul>
        </nav>
        <div id="contact-us">
            <h2>Contact Us</h2>
            <p>Email:  jpdhub@gmail.com</p>
            <p>Secondary Email :  info@jpdhub.com</p>
            <p>Phone(India(🇮🇳)): +91 7508975227  </p>
        </div>
    </main>
    <script src="/assets/js/index.js"></script>
</body>
</html>
